<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="python" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python33\python.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
